.headerStyle {
    background-Color: #ffff;
    box-Shadow: 0px 0px 16px 0px rgba(58, 58, 58, 0.1);
    margin: 10px;
    border-radius: 16px; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100; 
  }
  
  .YellowTextStyle {
    color: rgba(255, 204, 1, 1);
    font-size:x-large;
    font-weight: 1000;
    -webkit-text-stroke: 1.5px rgba(54, 95, 172, 1);
  }

  .headerLogoStyle {
    align-items: center;
    display: flex;
  }

  .contentStyle {
    background-Color: #0000;
    margin: 10px;
    border-radius: 16px; 
    justify-content: space-between; 
    align-items: flex-start;
    width: 100; 
    line-Height: 70px;
  }
  
  .siderStyle {
    background-color: #ffff;
    box-Shadow: 0px 0px 16px 0px rgba(58, 58, 58, 0.1);
    margin: 10px;
    border-radius: 16px; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100; 
    line-Height: 70px;
  }
  
  .layoutStyle {
    border-Radius: 8;
    overflow: hidden;
    width: 100%;
  }